<%= link_to "&lt; Browse Maps".html_safe, maps_path %>

<h2>User: <%=  @user.login %></h2>

<%- if @user.provider %>
  <p>A <%= image_tag(@user.provider+'_logo.png', width: '17', height: '17') %> <%=@user.provider_name.titlecase %> User </p>
<%- end %>

<p>Joined on: <%= @user.created_at.to_s(:long) %></p>

<% unless @user.description.blank? %>
  <h6>Profile Description:</h6>
  <p><%= @user.description.gsub("\n","<br/>") %></p>
<% end %>
  
<div id="user_stats">

  <table class="usertable">
    <thead>
      <tr>
        <th></th>
        <th>Total</th>
        <th>Total Map Changes</th>
        <th>Total Points Changes</th>
        <th>Created Points</th>
        <th>Updated Points</th>
        <th>Deleted Points</th>
      </tr>
    </thead>
    <tbody>

      <tr class="<%= cycle('table0', 'table1') -%>">
        <td>Last Hour</td>
        <% if @user_activity_hour %>
          <td><%=  @user_activity_hour.total_count %></td>
          <td><%=  @user_activity_hour.map_count %></td>
          <td><%=  @user_activity_hour.gcp_count %></td>
          <td><%=  @user_activity_hour.gcp_create_count %></td>
          <td><%=  @user_activity_hour.gcp_update_count %></td>
          <td><%=  @user_activity_hour.gcp_destroy_count %></td>
        <% else %>
          <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
        <% end %>
      </tr>

      <tr class="<%= cycle('table0', 'table1') -%>">
        <td>Last Day</td>
        <% if @user_activity_day %>
          <td><%=  @user_activity_day.total_count %></td>
          <td><%=  @user_activity_day.map_count %></td>
          <td><%=  @user_activity_day.gcp_count %></td>
          <td><%=  @user_activity_day.gcp_create_count %></td>
          <td><%=  @user_activity_day.gcp_update_count %></td>
          <td><%=  @user_activity_day.gcp_destroy_count %></td>
        <% else %>
          <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
        <% end %>
      </tr>
      
      <tr class="<%= cycle('table0', 'table1') -%>">
        <td>Last Week</td>
        <% if @user_activity_week %>
          <td><%=  @user_activity_week.total_count %></td>
          <td><%=  @user_activity_week.map_count %></td>
          <td><%=  @user_activity_week.gcp_count %></td>
          <td><%=  @user_activity_week.gcp_create_count %></td>
          <td><%=  @user_activity_week.gcp_update_count %></td>
          <td><%=  @user_activity_week.gcp_destroy_count %></td>
        <% else %>
          <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
        <% end %>
      </tr>

      <tr class="<%= cycle('table0', 'table1') -%>">
        <td>Last Month</td>
        <% if @user_activity_month %>
          <td><%=  @user_activity_month.total_count %></td>
          <td><%=  @user_activity_month.map_count %></td>
          <td><%=  @user_activity_month.gcp_count %></td>
          <td><%=  @user_activity_month.gcp_create_count %></td>
          <td><%=  @user_activity_month.gcp_update_count %></td>
          <td><%=  @user_activity_month.gcp_destroy_count %></td>
        <% else %>
          <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
        <% end %>
      </tr>
      
      <tr class="total <%= cycle('table0', 'table1') -%>">
        <td>Total</td>
        <% if @user_activity_total %>
          <td><%=  @user_activity_total.total_count %></td>
          <td><%=  @user_activity_total.map_count %></td>
          <td><%=  @user_activity_total.gcp_count %></td>
          <td><%=  @user_activity_total.gcp_create_count %></td>
          <td><%=  @user_activity_total.gcp_update_count %></td>
          <td><%=  @user_activity_total.gcp_destroy_count %></td>
        <% else %>
          <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
        <% end %>
      </tr>

    </tbody>
  </table>

</div>
<br />
<p><%=link_to 'Contribution Activity', user_activity_url(:id=>@user.id) %></p>

<%= render :partial => 'users/admin_tools', :object => @user, :if => admin_authorized?  %>

<h3>User Maps</h3>

<div id = "usermaps">
  <%=will_paginate @mymaps %>
  <table id="map_table" cellpadding="3">
    <thead>
      <tr>
        <th>Map</th>
        <th>Title</th>
        <th>Year</th>
        <th>Last modified</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody id="results">
      <%= render :partial => 'maps/map', :collection =>  @mymaps unless @mymaps.nil? %>
    </tbody>
  </table>
  <%= will_paginate @mymaps %>
</div>
