<%= form_for @import do |f| %>
  <p>
    <%= f.select(:import_type, options_for_select([["Import Map", :map], ["Import Layer", :layer], ["Import Latest", :latest]])) %>
  </p>
  <p>
    <b><%= f.label :uuid, "UUID of the map or layer (keep blank for latest)"  %></b> 
    <%= f.text_field :uuid, :class=>"uuid-field" %>
  </p>
  <p>
    <b><%= f.label :since_date, "Since date in YYYY-MM-DD format"  %></b> 
    <%= f.text_field :since_date, :class=>"date-field" %>
  </p>
  <p>
    <b><%= f.label :until_date, "Until date in YYYY-MM-DD format"  %></b> 
    <%= f.text_field :until_date, :class=>"date-field" %>
  </p>
  <p>

    <br />

    <%= f.submit((defined?(page) && page =~ /new/) ? "Create" : "Update" )%>
  <% end  %>
