
<h2>Imports</h2>
<%= link_to 'Add new import', new_import_url %>
<%= will_paginate @imports %>
<table class="usertable">
  <thead>
    <tr>
      <%= sort_header_tag('id', :title => "Id") %>
      <%= sort_header_tag('created_at', :title => "Created At") %>
      <%= sort_header_tag('user_id', :title => "User Id") %>
      <%= sort_header_tag('import_type', :title => "Type") %>
      <th>UUID</th>
      <th>since-until</th>
      <%= sort_header_tag('status', :title => "Status") %>
      <%= sort_header_tag('finished_at', :title => "Finished At") %>   
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "import", :collection => @imports %>
  </tbody>
</table>
<%= will_paginate @users %>

