<%= link_to "&lt; Browse imports".html_safe, imports_path %>
<div>

  <h2>Import: <%=h @import.id %></h2>
  <p>Created: <%= @import.created_at.to_s(:long) %>
    <% if @import.user -%>
      by <%= link_to(( @import.user.login), user_path(@import.user.id))  -%></p>
  <% end %>
  <p>Status: <span class="mapstatus"><%= @import.status %> </span></p>
  <p>Import Type:  
    <%= @import.import_type %>
  </p>
  <p>Import UUID: 
    <%= @import.uuid %>
  </p>
  <p>Since Date: 
    <%= @import.since_date %>
  </p>

  <p>Until Date: 
    <%= @import.until_date %>
  </p>
</div>



<div>

  <% if @import.status == :ready %>
    <%=  link_to 'Edit this import', edit_import_path(@import) %><br />
    <%=  link_to 'Delete this import' ,{:controller=>"imports", :action =>"destroy", :id => @import},  :method => :delete, :data => { :confirm => "Are you sure?" } %> <br />
    
    <div id="import_count">  
      <%  if @count -%>
      Count of Maps for import: <%=@count%>
      <% end %>
    </div>
    <%=  link_to('START IMPORT', start_import_path(@import), :data => {:confirm => "Ready to Start this import?"}, :class=>"buttonWarper") %>  
  <% else%>
    Showing latest log. <%= "log/#{@import.logfile}" %> <br/>
    <% if @import.status == :running %>
      <span class="mapstatus">This import is still running: reload page to refresh logfile below.</span>
    <% end %>
    <div>
      <textarea name="import_log" class="import_log" cols="100" rows="20">
        <%= @logtext %>
      </textarea>
    </div>
  <% end  %>


</div>