<tr>
  <% cl = cycle('table0', 'table1') %>

  <td class="<%= cl %>">
    <%= version.created_at.to_s(:uk) %>

  </td>

  <% if version.item_type.downcase == "map"
    typename = "Map"
    controller_name = "map"
    elsif version.item_type.downcase == "gcp"
    typename = "Control Point"
    controller_name = "gcp"
    end %>

  <td class="<%= cl %>">
    <% user = User.find_by_id(version.whodunnit.to_i)
    if user -%>
      <%= link_to user.login, :controller=>"users",:action=>"show", :id=>user.id-%>
    <% else -%>
    <span class="subdued">User:<%= version.whodunnit %></span>
    <%end%>
  </td>
  
  <% if admin_authorized? %>
    <td class="<%= cl %>">
      <%= version.ip %>
    </td>
    <td class="<%= cl %> smaller">
       <%= version.user_agent %>
    </td>
  <% end %>
    
  <td class="<%= cl %>">
    <%= link_to typename + ' ' + version.item_id.to_s, map_path(version.item_id) if version.item_type == "Map" -%>
    <%= link_to typename + ' ' + version.item_id.to_s, gcp_path(version.item_id) if version.item_type == "Gcp" -%>
  </td>

  <td class="<%= cl %>">
    <%= formatted_action(version.event) %>
  </td>

  <td class="<%= cl %>">
    <%=  version.index %>
  </td>

  <td class="<%=cl %>">

    <%- unless defined?(page) && page =~ /detail/ -%>
      <%= link_to "Further details", activity_details_url(:id => version.id) %>
    <%-end-%>
  </td>
  <% if admin_authorized? %>
  <td class="<%=cl %>">
    <% if version.item_type == "Map" %>
      <%= link_to "Revert All Gcps in Map", revert_map_url(:id => version), :method => :put, :data => {:confirm => "Really revert all GCPS in the map?"}, :class=>"buttonWarper" %>
    <% elsif version.item_type == "Gcp" %>
      <%= link_to "Revert", revert_gcp_url(:id => version), :method => :put, :data => {:confirm => "Really revert this GCP?"}, :class=>"buttonWarper"%>
    <% end %>
  </td>
  <% end %>
</tr>
