<%= link_to "&lt; Back".html_safe, :back -%>

<h2>Activity Detail</h2>
<table class="activity-table">
  <tr>
    <th>Time</th>
    <th>User</th>
    <% if admin_authorized? %>
      <th>Ip Address</th>
      <th>User Agent</th>
    <% end %>
    <th>Object</th>
    <th>Activity Summary</th>
    <th>Version</th>

    <%= render :partial => 'version', :object => @version, :locals => {:page => 'detail'} %>
    <th></th>
  </tr>
</table>

<h3>Details</h3>
<table  class="activity-details">
  <thead>
  <th>Item&nbsp;</th>
  <th>Value</th>
</thead>
<% @version.changeset.each do |key, value| -%>
  <tr>
    <td><%= key-%> </td>
    <% if value.class == Array %>
      <td><%="#{value[0] || "nil"} -> #{value[1]}" %></td>
    <% else %>
      <td><%= value -%> </td>
    <% end %>
  </tr>
<% end if @version.changeset -%>

<% if admin_authorized? %>
  <tr><td><br /></td></tr>
  <tr>
    <td>
      <% if @version.item_type == "Map" %>
        <%= link_to "Revert All Gcps in Map", revert_map_url(:id => @version), :method => :put, :data => {:confirm => "Really revert all GCPS in the map?"}, :class=>"buttonWarper" %>
      <% elsif @version.item_type == "Gcp" %>
        <%= link_to "Revert", revert_gcp_url(:id => @version), :method => :put, :data => {:confirm => "Really revert this GCP?"}, :class=>"buttonWarper"%>
      <% end %>
    </td>
  </tr>
<% end %>

</table>
