<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>NYPL Map Warper: <%= (snippet(@html_title, 40)) || ''-%> </title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Sorts+Mill+Goudy|Vidaloka' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "openlayers/2.8/OpenLayers-2.8/OpenLayers" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_tag "jQuery.noConflict();" -%>

    <script type="text/javascript">
      var addthis_share = {templates: {twitter: '{{url}} (from @<%=APP_CONFIG['addthis_twitter_user']%>)'}};
      var addthis_config = {ui_click: true};

      jQuery(function() {
        jQuery("#wooTabs").tabs({selected:<%=@selected_tab||0 %>});
        jQuery("#wooTabs").bind("tabsselect", function(event, ui) {
          if (typeof (pageTracker) !== 'undefined') {
            pageTracker._trackEvent("Map", ui.tab.title, '<%=@map.id%>');
          }
        });

        jQuery("#wooTabs").tabs('option', 'cache', true);
        
        jQuery("#wooTabs").tabs({
          beforeLoad: function( event, ui ) {
            ui.jqXHR.fail(function() {
              console.log(ui.jqXHR.status)
              if (ui.jqXHR.status == 401){
                <% flash  = "Sorry. You may need to <a class='unauthorized' href='#{url_for(new_user_session_path)}'>Log In</a> to view this." %>
                var flash = "<%= flash.html_safe %>";
                jQuery(ui.panel).html(flash)
              }else if (ui.jqXHR.status == 503){
               <% flash  = "Sorry. The site is currently in read only mode and some features are disabled. Please try again later." %>
                var flash = "<%= flash.html_safe %>";
                jQuery(ui.panel).html(flash)
              }else{
              //  <% flash  = "Something went wrong with this. Sorry! Please try again, or try logging in first." %>
              //  var flash = "<%= flash.html_safe %>";
              //  jQuery(ui.panel).html(flash)
              }
            });
            }
        });

        jQuery("#wooTabs").bind("tabsshow", function(event, ui) {
          //console.log('ui.panel.id: ' + ui.panel.id);

          if (ui.panel.id == "Show") {
            if (typeof umap != 'undefined') {
              unwarped_updateSize();

              // if the page was initially loaded on any tab over than Show the zoom extent needs to be reset
              if (umapLoaded === false){
                umap.zoomToMaxExtent();
              }

            } else {
              presetContainer();
            }
          }

          if (ui.panel.id == "Rectify") {
            if (typeof to_map != 'undefined') {
              warp_updateSize();
            } else {
              presetContainer()
            }
          }

          if (ui.panel.id == "Crop") {
            if (typeof clipmap != 'undefined') {
              clip_updateSize();
            } else {
              presetContainer()
            }
          }

          if (ui.panel.id == "Preview") {
            if (typeof warpedmap != 'undefined') {
              warped_updateSize()
            } else {
              presetContainer();
            }
          }

          if (ui.panel.id == "Activity_History") {

          }

          // shift focus from tabs to span to prevent arrow keys from changing tabs
          jQuery("#focusHolder").attr('tabindex',-1).focus();

        }); //end tabshow

      });//end jquery function

      function presetContainer(){
        // tab content does not yet exist so we're presetting container height to avoid scrolling
        jQuery('#wooTabs').css({'min-height': '2000px'});
      }

    </script>
    <script type="text/javascript">
      // PageLoad function
      // This function is called when  1. after calling $.historyInit(); 2. after calling $.historyLoad(); 3. after pushing "Go Back" button of a browser
      var tabSuffix = "_tab"; //suffix to be added to link to stop jumping
      var umapLoaded = false;
      function pageload(hash) {
        if (hash) {
          // restore ajax loaded state
          if (jQuery.browser.msie) {
            // jquery's $.load() function does't work when hash include special characters like aao.
            hash = encodeURIComponent(hash);
          }
          hash = hash.slice(0, -tabSuffix.length)
          var tab_divs = jQuery("div.ui-tabs-panel", jQuery("#wooTabs").tabs());
          var select_tab_index = 0;
          jQuery.each(tab_divs, function( index, value ) {
            if (hash === value.id){
              select_tab_index = index;
              if (value.id.indexOf('Show') != -1){
                umapLoaded = true;
              } 
            }
          });
          
          jQuery("#wooTabs").tabs( "option", "active", select_tab_index );
          //jQuery("#wooTabs").tabs("select", hash);
        } else {
          //if there is no hash, wat to do? currently, nothing, as by default it should be displayed tab.
          //show tab  //jQuery("#wooTabs").tabs("select", 0);
        }
      }

      jQuery(document).ready(function() {
        jQuery.historyInit(pageload); //TODO

        // set onlick event for buttons
        jQuery("a[rel='history']").click(function() {

          var hash = this.title + tabSuffix;
          jQuery.historyLoad(hash);
        });
      });

      // prevent browser from scrolling with arrow keys
      window.addEventListener("keydown", function(e) {
          // space and arrow keys
          if([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) {
              e.preventDefault();
          }
      }, false);

    </script>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <% if @onload -%>
    <body onload="<%=@onload%>">
    <%else-%>
    <body>
    <%end%>
    <%= render :partial => 'shared/analyticstop' %>
    
    <%= render :partial => 'shared/nypl_stripe' %>
    <% if read_only_mode %>
      <%= render :partial => 'shared/read_only' %>
    <% end %>
      
      <div id="headerDiv" class="headerDiv">
      <h1><%= link_to "NYPL Map Warper", root_path %></h1>
      <%= render :partial => 'shared/header' %>
      <%= render :partial => 'shared/nav' %>
    </div>
    <%= breadcrumbs %>
    <table id="map_table">
      <%= render :partial => 'maps/map_detail', :object => @map, :locals => {:variety => "detail"} %>
    </table>
    <span id="focusHolder"> </span>
    <% @tabs = [{:name=>"show",:divname=>"Show", :label=>"Show", :path=>map_path},
      {:name=>"warp",:divname=>"Rectify", :label=>"Rectify", :path=>warp_map_path(:id => @map)},
      {:name=>"clip",:divname=>"Crop", :label=>"Crop", :path=>clip_map_path(:id => @map)},
      {:name=>"align",:divname=>"Align", :label=>"Align", :path=>align_map_path(:id => @map)},
      {:name=>"warped",:divname=>"Preview_Rectified_Map", :label=>"Preview", :path=>warped_map_path(:id => @map)},
      {:name=>"export",:divname=>"Export", :label=>"Export", :path=>export_map_path(:id => @map)},
      {:name=>"activity",:divname=>"Activity_History", :label=>"Activity",:path=> map_activity_path(:id => @map)},
      {:name=>"comments",:divname=>"Comments", :label=>"Comments", :count=>@map.comments.size.to_s, :path=>comments_map_path(:id => @map)}  ] %>
    <div id="wooTabs">
      <ul>
        <% @tabs.each do |tab| %>
          <% if @current_tab == tab[:name] %>
            <% tab[:path] = "#"+tab[:divname]  %>
            <% @current_tab_divname = tab[:divname] %>
          <% end %>
          <% unless @disabled_tabs && @disabled_tabs.include?(tab[:name]) -%>
            <li><a id="aa<%=tab[:label]%>" rel="history" href="<%=tab[:path]%>" title="<%=tab[:label]%>">
                <span><%=tab[:label]%><% if tab[:count] -%> (<%=tab[:count]-%>)<%end-%></span>
              </a></li>
          <% end -%>
        <% end -%>
      </ul>
      <div id="<%=@current_tab_divname %>" >
        <%= flash_messages %>
        <%= yield %>
      </div>

    </div>

    <div id="panel-under-tabs">

    </div>


    <div id="footer">
      New York Public Library
      <%= render :partial => 'shared/legal' %>
    </div>

    <%= render :partial => 'shared/analyticsbottom', :locals => {
      :map => @map, :current_tab => @current_tab
      } %>
  </body>
</html>
